.discription {
    font-size: 40px;
    color : rgb(3, 3, 251);
    font-weight: 1000;
    text align-self: border: ;
}

#btn_start {
    font-size: 40px;
    color: rgb(74, 129, 20);
    background-color: blueviolet;
}

#canvas{
    border: 5px rgb(3, 254, 3) solid;
}

#score {
    font-size: 40px;
    color: red;
    font-style: italic;
    text-decoration-style: dotted;
    font-weight: 1000;
}

body{
    color: blue;
    background-image: url("./images.jfif");
    background-repeat: no-repeat;
}